<header>
  <div class="container">
    
       <table bgcolor="#491A05" cellpadding=10>
        <tr>
            <td><img src="assets/header.png" height="50px" width="50px" border=0 alt="Header Image" title="Old Computer"></td>
            <td valign="middle">
                <font face="trebuchet ms" color="#85440E">
                    <h1 align="right" style="color:#B07928">{{ site.title }}</h1>
                    <p align="right">Code, Algorithm, Pseudocude etc.</p>
                    </font>
            </td>
        </tr>
    </table>

<br>
   </div>   
</header>
