<header>
  <div class="container">
    
       <table height=50 width=100% bgcolor="#491A05" cellpadding=10>
        <tr>
            <td width=35% height=50><img src="assets/header.png" height=200 width=200 border=0 alt="Header Image" title="Old Computer"></td>
            <td width=90% height=50 valign="middle">
                <font face="trebuchet ms" color="#85440E" size=30>
                    <h1 align="right" style="color:#B07928">{{ site.title }}</h1>
                    <p align="right">Code, Algorithm, Pseudocude etc.</p>
                    </font>
            </td>
        </tr>
    </table>

<br>
      
</header>
